<!DOCTYPE html>
<html>
<head>
    <title>Already exists</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Some of the information has already been used to create a user.</h1>
<p><a href = "../user/create">Click here to retry</a></p>
</body>
</html>
